flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "06ba89525dc75e2d",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 540,
        "y": 460,
        "wires": [
            [
                "3c591e3dad997983"
            ]
        ]
    },
    {
        "id": "3c591e3dad997983",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.payload = [\n    {\n        payload:\"0\",\n        topic:\"1\"\n    },\n    {\n        payload: \"0\",\n        topic: \"2\"\n    },\n    {\n        payload: \"0\",\n        topic: \"3\"\n    },\n    {\n        payload: \"complete\",\n        topic: \"3\"\n    },\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 460,
        "wires": [
            [
                "eea6ad387c770d23"
            ]
        ]
    },
    {
        "id": "780a1ea0431000a0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "errorCatch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "f557a485a59a3bfe",
        "type": "catch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 530,
        "y": 400,
        "wires": [
            [
                "780a1ea0431000a0"
            ]
        ]
    },
    {
        "id": "281679a213324c53",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 460,
        "wires": []
    },
    {
        "id": "a926ba3000b400f7",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "msg.complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 500,
        "wires": []
    },
    {
        "id": "eea6ad387c770d23",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "let m_out = [];\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    let message = msg.payload[i].payload;\n    \n    if (message == \"1\") {\n        var newmsg = {\n            payload:\"Fehler\",\n            topic: i.toString()\n        }\n        m_out.push(newmsg);\n    } \n    if (message == \"complete\") {\n        var newmsg = {\n            payload: \"complete\",\n            topic: i.toString()\n        }\n        m_out.push(newmsg);\n    }\n}\n\nreturn [m_out];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 460,
        "wires": [
            [
                "d8df7f3d4b3bbc6f"
            ]
        ]
    },
    {
        "id": "d8df7f3d4b3bbc6f",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Fehler",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "complete",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 460,
        "wires": [
            [
                "281679a213324c53"
            ],
            [
                "a926ba3000b400f7"
            ]
        ]
    }
]
